<h1>Edit Message</h1>

<%= form_with model: @message, local: true do |form| %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :user_id, "Sender" %><br>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Select User" %>
  </div>

  <div>
    <%= form.label :chat_id, "Chat" %><br>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Select User" %>
  </div>

  <div>
    <%= form.submit "Update Message" %>
  </div>
<% end %>

<%= link_to 'Back', message_path(@message) %>
