<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>

<h2>Chats</h2>
<ul>
  <% @user.chats.each do |chat| %>
    <li><%= link_to "Chat ##{chat.id}", chat_path(chat) %></li>
  <% end %>
</ul>

<h2>Messages</h2>
<ul>
  <% @user.messages.each do |message| %>
    <li><%= link_to message.body, message_path(message) %></li>
  <% end %>
</ul>

<%= link_to "Edit User", edit_user_path(@user) %>
