<h1>Chat between <%= @chat.sender.first_name %> and <%= @chat.receiver.first_name %></h1>

<h2>Messages</h2>

<ul class="list-group mb-4">
  <% @chat.messages.each do |message| %>
    <li class="list-group-item">
      <strong><%= message.user.first_name %>:</strong> <%= message.body %>
    </li>
  <% end %>
</ul>

<%= link_to "Edit Chat", edit_chat_path(@chat), class: "btn btn-outline-primary" %>
<%= link_to "Back to Chats", chats_path, class: "btn btn-link ms-2" %>
