<h1>Chat between <%= @chat.sender.first_name %> and <%= @chat.receiver.first_name %></h1>

<h2>Messages</h2>
<ul>
  <% @chat.messages.each do |message| %>
    <li><%= message.user.first_name %>: <%= message.body %></li>
  <% end %>
</ul>

<%= link_to "Edit Chat", edit_chat_path(@chat) %>
